.about-wrapper {
  display: flex;
  justify-content: center;   /* centers the block horizontally */
  width: 100%;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 2rem;
}

.about-container h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
    max-width: 60ch;
    margin-bottom: 1.5rem;
}

.about-container p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  text-align: justify;
  max-width: 60ch;
  margin-bottom: 1rem;
}
