
.services-section {
  background-color: #ffffff;
  padding: 80px 20px 20px;
  text-align: center;
}

.services-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}

.services-subtitle{
  margin-bottom: 30px;
  color: #555555;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px; /* Add margin to separate from the button */
}

.service-card {
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 30px;
  text-align: left;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.service-image {
  width: 100%;
  height: auto;
  max-height: 180px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 20px;
}

.service-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 15px;
}

.service-description {
  color: #555555;
  font-size: 1rem;
  line-height: 1.6;
}

.service-arrow {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 1.5rem;
  color: #007bff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.service-card:hover .service-arrow {
  opacity: 1;
}

.get-started-button-container {
  text-align: center;
  margin-top: 20px;
}

.get-started-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: background-color 0.3s;
}

.get-started-button .arrow {
  transition: transform 0.3s;
}

.get-started-button:hover .arrow {
  transform: translateY(5px);
}
